{% extends "layout.html" %}
{% block content %}

<img src="{{ url_for('static', filename='quodlibet.svg') }}" style="height:4em;float:left;margin:0.4em 0.4em 0 0">

<p>
This is a basic IRC logger and viewer basied on the <a href="https://github.com/quodlibet/quodlibet">Quod Libet</a> project for 9PUG.
For any questions regarding this setup please contact
<a href="mailto:denzuko+9pug-help@panix.com">9pug-help at 9pug.dapla.net</a>.
All the code is available on <a href="https://github.com/denzuko/9pug-irc">github</a>.
</p>

<p>
All IRC logs are purged after 3 days.
</p>

{% endblock %}
